<div ng-controller="DashboardCtrl">
	
	<div class="container">
        <div class="page-header">
            Dashboard
        </div>
        <div class="main-content">
        	<!-- <a class="dash-blk col-lg-4 col-lg-offset-2" href="#dashboard/overview"><i class="fa fa-desktop"></i><br>Overview</a> -->
        	<div class="row">
        		<a class="dash-blk col-lg-3" href="#demo/dashboard/1/profile"><i class="fa fa-user"></i><br>View/Edit Profile</a>
        		<a class="dash-blk col-lg-3" href="#demo/dashboard/analytics"><i class="fa fa-bar-chart-o"></i><br>Analytics</a>
        		<a class="dash-blk col-lg-3" href="#demo/dashboard/messages"><i class="fa fa-envelope"></i><br>Messages</a>
        	</div>
        </div>
    </div>

</div>
