<div ng-controller="HomeCtrl">
	<div class="container">
        <div class="page-header">
            Welcome to SkilledGeek!
        </div>
        <div class="main-content">
        	<div class="tagline">4 Easy Steps and Voila!  Awesome Resume!</div>
        	<div class="steps-blk">
        		<div class="steps col-lg-2 col-lg-offset-2">Login</div>
        		<div class="steps col-lg-2">Add Skills</div>
        		<div class="steps col-lg-2">Templates</div>
        		<div class="steps col-lg-2">Share</div>
        	</div>
            <div class="clearfix"></div>
        	<a class="btn btn-default start-btn" href="#signup">Get Started!</a>
        	<div class="add-info">Just provide your information and let our SkilledGeek Elves do their job!</div>
        	<div class="add-info">You can now make interactive, profile based, accurate resumes with ease now</div>
        	<div class="add-info">Convert them to any format you like</div>
        	<div class="add-info">The right job is just one resume away. Go for it!</div>
        </div>
           
    </div>

</div>
